#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /*height: 2.5rem;             altura do rodapé */
  }


/*background da do header*/
.cabecalho{
    background-color: rgb(152, 152, 152);
}

/*background da body*/
.corpo{
    /*background-image: url(/assets/background-prateleira.png);*/
    /*background: url(<path-to-image>), lightgray 0px -153.839px / 100% 130.047% no-repeat;*/
    background-image: url(/assets/background-prateleira-mono.svg);
    background-repeat: no-repeat;
    background-position: 0% -4%;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

/*altera cor padrão do menu de hamburgue*/
.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,217,0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
   
}
/*altera cor padrão da borda do menu de hamburgue*/
.navbar-dark .navbar-toggler {
    border-color: rgba(255, 217, 0, 1);
}

.navbar-nav {
    align-items: flex-end;
    font-weight: bold;
}

.mid-center {
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.btn-default{
    background-color: black;
    font-weight: 600;
    color:white;
    box-shadow: 5px 4px 1px -1px rgba(255, 217, 0, 1);
    transition-duration: 0.4s;
    border-radius: 7px;

    display: block;
    margin-bottom: 6.25rem;
    


}

.btn-default:hover {
    background-color: rgba(255, 217, 0, 1); 
    font-weight: 600;
    color: black;
    box-shadow: none;
    border: 2px solid #000;
  }