#footer {
    width: 100%;
}

/*background da do header*/
.cabecalho{
    background-color: #1E1E1E;
}

.formLogin {
    background-color: rgba(0, 0, 0, 0.7);
}

/*background da body*/
.corpo{
    /*background-image: url(/assets/background-prateleira.png);*/
    /*background: url(<path-to-image>), lightgray 0px -153.839px / 100% 130.047% no-repeat;*/
    background-image: url(/assets/background-prateleira-mono.svg);
    background-repeat: no-repeat;
    background-position: 0% -4%;
    background-size: cover;
    min-height: 100vh;
    width: 100vw;
    padding-top: 100px;
}

.corpo-Login {
    background-image: url(/assets/background-prateleira-mono.svg);
    background-repeat: no-repeat;
    background-position: 0% -4%;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    padding: 200px;
}

#content-main{
    min-height: 100%;
    position: relative;
}
/* Adiciona um padding ao body quando o menu é aberto, Ajuste a altura de acordo com a altura do menu  */
.navbar {
    z-index: 1;
    position: relative;
}
.menu-aberto {
    padding-top: 180px;
}

/*altera cor padrão do menu de hamburgue*/
.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,217,0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
   
}
/*altera cor padrão da borda do menu de hamburgue*/
.navbar-dark .navbar-toggler {
    border-color: rgba(255, 217, 0, 1);
}

.navbar-nav {
    align-items: flex-end;
    font-weight: bold;
}

.nav-link-black{
    color: black;
}

.nav-link-yellow {
    color: #ffd900;
}

.mid-center {
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

/*botão padrao*/
.btn-default{
    background-color: black;
    font-weight: 600;
    color:white;
    box-shadow: 5px 4px 1px -1px rgba(255, 217, 0, 1);
    transition-duration: 0.4s;
    border-radius: 7px;

    display: block;
    margin-bottom: 6.25rem;
}

.btn-default:hover {
    background-color: rgba(255, 217, 0, 1); 
    font-weight: 600;
    color: black;
    box-shadow: none;
    border: 2px solid #000;
}

.btn-cat {
    background-color: black;
    font-weight: 400;
    color:white;
    box-shadow: 5px 4px 1px -1px rgba(255, 217, 0, 1);
    transition-duration: 0.4s;
    border-radius: 7px;
}

.btn-cat:hover {
    background-color: rgba(255, 217, 0, 1); 
    font-weight: 400;
    color: black;
    box-shadow: none;
    border: 2px solid #000;
}

.bg-cat {
    background-color: rgba(255, 217, 0, 1);
    color: black;
}

/*botão de atualizar produto*/
.btn-atualizar{
    background-color: black;
    font-weight: 600;
    color:rgb(7, 255, 61);
    box-shadow: 5px 4px 1px -1px rgb(7, 255, 61);
    transition-duration: 0.4s;
    border-radius: 7px;

    display: block;
    margin-bottom: 6.25rem;
}

.btn-atualizar:hover {
    background-color: rgb(7, 255, 61);
    font-weight: 600;
    color: black;
    box-shadow: none;
    border: 2px solid #000;
}

/*botão de remover produto*/
.btn-remover{
    background-color: black;
    font-weight: 600;
    color:rgb(238, 35, 35);
    box-shadow: 5px 4px 1px -1px rgb(238, 35, 35);
    transition-duration: 0.4s;
    border-radius: 7px;

    display: block;
    margin-bottom: 6.25rem;
}

.btn-remover:hover {
    background-color: rgb(238, 35, 35);
    font-weight: 600;
    color: black;
    box-shadow: none;
    border: 2px solid #000;
}


.input-valor{
    width: 80px;
}

.cursor-pointer {
    cursor: pointer;
}

.form-check-input:checked {
    background-color: #000;
    border-color: #ffc107;
}

.table-dark thead th {
    background-color: rgba(255, 217, 0, 1);
    color: black;
}

.table-rounded {
    border-collapse: separate;
    border-radius: 5px;
}

.table-rounded th, .table-rounded td {
    border-left: 1px solid #343a40; /* Cor cinza que parece ser a cor padrão de fundo das tabelas dark no Bootstrap */
}

.table-rounded th:first-child, .table-rounded td:first-child {
    border-left: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.table-rounded th:last-child, .table-rounded td:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.fundo-formulario {
    background-color: rgba(0, 0, 0, 0.7);  /* Preto com 70% de opacidade */
    padding: 15px;  /* Um pouco de padding para dar espaço aos elementos internos */
    border-radius: 5px;  /* Borda arredondada para estética */
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
}

#planogramContainer {
    margin-top: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: start;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding: 20px;
    gap: 10px;
    background-color: transparent;;
}

.module {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    border: 3px solid rgb(128, 128, 128);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    margin: 5px;
    /* min-width: 250px; */
}

.level {
    display: flex;
    flex-wrap: nowrap;
    border: 3px solid rgb(128, 128, 128);
    border-bottom: 1px solid #ccc;
    align-items: flex-end;
    /* gap: 10px; */
}

.item {
    /* padding: 5px; */
    border: 1px solid #000;
    border-radius: 5px;
    text-align: center;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
    /* flex: 1 0 auto; */
    /* box-sizing: border-box; */
}

.item:hover {
    filter: brightness(90%);
}

.produtoItem {
    color: #ffc107;
}